In [4]:
import keyword

In [6]:
x = keyword.kwlist

In [8]:
print(x)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
 print(len(x))

35

In [1]:
import string

In [7]:
all_punctuation=string.punctuation

In [8]:
print(all_punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [9]:
print(len(all_punctuation))

32

In [10]:
2sun=10

SyntaxError: invalid decimal literal (2294849240.py, line 1)

In [11]:
abc=10

In [12]:
print(abc)

10

In [13]:
t u=22

SyntaxError: invalid syntax (818258703.py, line 1)

In [14]:
$=1

SyntaxError: invalid syntax (1195562036.py, line 1)

In [16]:
False=2

SyntaxError: cannot assign to False (443824000.py, line 1)

# literals

#numeric

In [ ]:
int

In [3]:
x=10

In [8]:
print(type(x))

<class 'float'>

In [ ]:
float

In [6]:
x=15.5

In [7]:
print(type(x))

<class 'float'>

In [ ]:
complex

In [9]:
x=6+3j

In [10]:
print(type(x))

<class 'complex'>

string

In [11]:
a='abhishek'

In [12]:
print(type(a))

<class 'str'>

In [18]:
b ="abhishek"
print(type(b))

<class 'str'>

In [22]:
c ='''this is
            python 
                 code'''
print(type(c))

<class 'str'>

In [25]:
s1 = " this is a 'python language' classes"
print(type(s1))
print(s1)

<class 'str'>
 this is a 'python language' classes

In [26]:
# s2 = '''this is a 'python' and ''java'' classes'''
# print(s2)

this is a 'python' and ''java'' classes

<h1/>list-------</h1>

In [1]:
l=[1,2,3,4,5,6]
print(type(l))

<class 'list'>

In [8]:
l1=[1,2,3,4,5,6,"python","java"]
print(type(l1))
print(l1)

<class 'list'>
[1, 2, 3, 4, 5, 6, 'python', 'java']

<h1/>tuple-----</h1>

In [9]:
sl=(1,2,3,4,5,6)
print(type(sl))

<class 'tuple'>

In [10]:
s21=(1,2,3,4,5,6,"python","java")
print(type(s21))
print(s21)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 'python', 'java')

<h1/>dictonary-----</h1>

In [18]:
fl={'v1':'abhi','v2':'aman'}
print(type(fl))
print(fl)

<class 'dict'>
{'v1': 'abhi', 'v2': 'aman'}

<h1/>set-----</h1>

In [3]:
f2={'v1','abhi','v2''aman''v1''abhi'}
print(type(f2))
print(f2)

<class 'set'>
{'abhi', 'v1', 'v2amanv1abhi'}

<h1/>frozen set -----------</h1>

In [9]:
 l= [10,20,30,40]
 t= (1,2,3,4,5,6,"python","java")
 s= "python"
fs1=frozenset (l)
fs2=frozenset (t)
fs3=frozenset (s)
print (fs1)
print(type(fs1))
print (fs2)
print(type(fs2))
print (fs3)
print(type(fs3))

frozenset({40, 10, 20, 30})
<class 'frozenset'>
frozenset({1, 2, 3, 4, 5, 6, 'python', 'java'})
<class 'frozenset'>
frozenset({'t', 'y', 'p', 'h', 'n', 'o'})
<class 'frozenset'>

# BOOLEAN---

In [11]:
x= True
print(x)
print(type(x))

True
<class 'bool'>

In [14]:
x= False
print(x)
print(type(x))

False
<class 'bool'>

# operator----

# 1)arthmetic-(+,-,*,/,%(modules),//(floor),**(power) or sat that exponantial)

In [16]:
x=20
y=30
z=x+y
print(type(z))
print(z)
z=x-y
print(z)
print(type(z))
z=x*y
print(z)
print(type(z))
z=x/y
print(z)
print(type(z))
z=x%y
print(z)
print(type(z))
z=x//y
print(z)
print(type(z))
z=x**y
print(z)
print(type(z))

<class 'int'>
50
-10
<class 'int'>
600
<class 'int'>
0.6666666666666666
<class 'float'>
20
<class 'int'>
0
<class 'int'>
1073741824000000000000000000000000000000
<class 'int'>

# indexing

In [4]:
s='abhi'
print(s.index('b'))

1

In [5]:
s=(1,2,3,4,5,6)
print(s.index(2))

1

In [8]:
s=[1,2,3,4,5,6,'python']
print(s.index('python'))

6

In [9]:
s=[1,2,3,4,5,6,'python']
print(s.index('ab'))

ValueError: 'ab' is not in list

In [10]:
s=[1,2,3,4,5,6,'python']
print(s.index('6'))

ValueError: '6' is not in list

In [11]:
 s=[1,2,3,4,5,6,'python']
print(s.index(6,5,7))

5

In [26]:
s='I LOVE PYTHON '

In [27]:
print(s.index('O',5,13))

11

In [29]:
 s=[1,2,3,4,5,6,'python']
print(s.index(-2))

ValueError: -2 is not in list

In [37]:
s='abhi'
print(s[-3])

b

In [15]:
def fun_name():
    print ("hello world")
fun_name()
print ("welcome")
fun_name()

hello world
welcome
hello world

In [17]:
def fun_name():
    print ("hello world")
print ("fun_name")
x=fun_name()
print(x)

fun_name
hello world
None

In [18]:
def fun_name():
    return'hello'
print ("fun_name")
x=fun_name()
print(x)

fun_name
hello

In [19]:
def fun_name():
    return'hello'
print ("fun_name")
x=fun_name()
print(x)
print (x*2)

fun_name
hello
hellohello

In [23]:
def add(x,y):
    z=x+y
    return z
a=int(input("value"))
b=int(input("value"))
addition=add(a,b)
print(addition)

value 1
value 2

3

In [36]:
def add(x,y):
    z=x+y
    return z
a=20
b=10
addition=add(y=a,x=b)
print (addition)

30

In [31]:
def even(n):
    if n/2==0:
        print("even")
        
    else:
        print("odd")

n=int(input("integer"))
even(n)

integer 1

odd

In [6]:
a=int(input("enter the no"))
b=int(input("enter the no"))
c=int(input("enter the no"))
if (a>=b) and (a>=c):
largest= a
elif(b>=a) and (b>=c):
largest = b
else:
    largest = c

print("The largest number is:", largest)

IndentationError: expected an indented block after 'if' statement on line 4 (3891401690.py, line 5)

# conditional statement question

<h3> Q1) write a program to find largest number among three numbers in python</h3>

In [8]:

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print("The largest number is:", largest)

Enter the first number:  1
Enter the second number:  3
Enter the third number:  4

The largest number is: 4

In [13]:

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

if (num1 > num2 >num3):
 print("The largest number is a")
elif (num2> num1>num3):
  print("The largest number is a")
else:
    largest = num3

print("The largest number is:", largest)

Enter the first number:  2
Enter the second number:  3
Enter the third number:  4

The largest number is: 4

In [12]:

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
largest = max(num1, num2, num3)

print("The largest number is:", largest)

Enter the first number:  2
Enter the second number:  3
Enter the third number:  4

The largest number is: 4

<h3>Q2) Write a program that takes an integer as input and prints "Positive" if the number is greater than 0, and "Negative or Zero" otherwise.</h3>

In [ ]:
    num1 = int(input("Enter an integer: "))
    if num > 0:
        print("Positive")
    else:
        print("Negative or Zero")

<h3>Write a program to fund withdrawal and to show case avaliable fund</h3>

In [54]:
acc_fund = float(input("Enter the AMOUNT at account: "))
withdrawal = float(input("Enter the withdrawal AMOUNT AT ACCOUNT: "))
if(withdrawal<=acc_fund):
   print("transaction done")
   av_balance=acc_fund-withdrawal
   print("available balace is",av_balance)
else:
   print("insufficient fund")

Enter the AMOUNT at account:  80000
Enter the withdrawal AMOUNT AT ACCOUNT:  40000

transaction done
available balace is 40000.0

In [7]:
##write a program that determine the price of movie ticketbased on age or membership status 
##if the person is under 12 the ticket is 5$
##if the person is 60 or above the ticket is 7$
##for age b/w 12 and 59  if they are the menbership ticket is 8$ or not a meber ticket is 10$


age = int (input("enter the age"))
membership = input("yes or no").lower()
if age <= 12:
    print("pay a 5$")
elif age>12 and age<59:
    if membership == "yes":
         print ("pay 8$")
    else :
        print("pay 10$")
else:
    if age<60:
        print ("pay 7$")

enter the age 49
yes or no YES

pay 8$

In [11]:
##WRITE A PROHRAM THE TAKE THE NO OF MONTH 1 TO 12 AND TEMPERATURE AS INPUT ACCORDING TO A MONTH PRINT THE SEASON WINTER ,SUMMER ,SPRING,autoum 
##FOR WINTER IF THE TEMPERATURE IS LESS 10DEGREE CELCIUS  PRINT FREEZING
##FOR SPRING OR SUMMER  IF THE TEMPERATURE IS GREATER 30DEGREE CELCIUS  PRINT HOT
##IF THE MONTH IS NOT BETWEEN 1 AND 12 PRINT INVALID

month=int(input("enter the no"))
temperature=int(input("enter the temp"))
if month >=1 and month <=3 :
    print("winter")
    if temperature <=10:
        print("freezing")
elif month >=4 and month <=6:
    print ("summer")
    if temperature >=30:
        print("hot")
elif month >=7 and month <=9:
    print ("spring")
    if temperature >=30:
        print("hot")
elif month >=10 and month <=12:
    print ("autoum")
else :
    print ("invalid no")

enter the no 5
enter the temp 30

summer
hot

In [ ]:
##write the progeam the calculate bmi using the person weight in kg and hight in metre 
## if the bmi is less then 18.5 print under weight further if the bmi is less than 15 also print seviorly underweight 
## if the bmi is b/w 18.5 to 25 print normal.
## if the bmi is above 25 print overweight or obus
## BMI = WEIGHT IN KG/ 9HEIGHT IN METER )**2

weight=float(input("enter the weight"))
height=float(input("enter the height"))
bmi = weight/(height)**2
if bmi <= 18.5:
    print("underweight",bmi)
    if bmi<=15:
        print("seviorly underweight")
elif 18.5 <bmi<25:
    print("normal")
elif bmi>=25:

    print("overweight")
else:
    print("invalid")

In [13]:
year =int(input("enter the year"))
if (year% 4 == 0and year% 100 != 0) or (year% 400== 0):
    print("leap year")
else:
    print("not a leap year")

<>:2: SyntaxWarning: invalid decimal literal
<>:2: SyntaxWarning: invalid decimal literal
C:\Users\HP\AppData\Local\Temp\ipykernel_17552\1243035726.py:2: SyntaxWarning: invalid decimal literal
  if (year% 4 == 0and year% 100 != 0) or (year% 400== 0):

enter the year 1600

leap year