In [4]:
import keyword

In [6]:
x = keyword.kwlist

In [8]:
print(x)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
 print(len(x))

35

In [1]:
import string

In [7]:
all_punctuation=string.punctuation

In [8]:
print(all_punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [9]:
print(len(all_punctuation))

32

In [10]:
2sun=10

SyntaxError: invalid decimal literal (2294849240.py, line 1)

In [11]:
abc=10

In [12]:
print(abc)

10

In [13]:
t u=22

SyntaxError: invalid syntax (818258703.py, line 1)

In [14]:
$=1

SyntaxError: invalid syntax (1195562036.py, line 1)

In [16]:
False=2

SyntaxError: cannot assign to False (443824000.py, line 1)

# literals

#numeric

In [ ]:
int

In [3]:
x=10

In [8]:
print(type(x))

<class 'float'>

In [ ]:
float

In [6]:
x=15.5

In [7]:
print(type(x))

<class 'float'>

In [ ]:
complex

In [9]:
x=6+3j

In [10]:
print(type(x))

<class 'complex'>

string

In [11]:
a='abhishek'

In [12]:
print(type(a))

<class 'str'>

In [18]:
b ="abhishek"
print(type(b))

<class 'str'>

In [22]:
c ='''this is
            python 
                 code'''
print(type(c))

<class 'str'>

In [25]:
s1 = " this is a 'python language' classes"
print(type(s1))
print(s1)

<class 'str'>
 this is a 'python language' classes

In [26]:
# s2 = '''this is a 'python' and ''java'' classes'''
# print(s2)

this is a 'python' and ''java'' classes

<h1/>list-------</h1>

In [1]:
l=[1,2,3,4,5,6]
print(type(l))

<class 'list'>

In [8]:
l1=[1,2,3,4,5,6,"python","java"]
print(type(l1))
print(l1)

<class 'list'>
[1, 2, 3, 4, 5, 6, 'python', 'java']

<h1/>tuple-----</h1>

In [9]:
sl=(1,2,3,4,5,6)
print(type(sl))

<class 'tuple'>

In [10]:
s21=(1,2,3,4,5,6,"python","java")
print(type(s21))
print(s21)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 'python', 'java')

<h1/>dictonary-----</h1>

In [18]:
fl={'v1':'abhi','v2':'aman'}
print(type(fl))
print(fl)

<class 'dict'>
{'v1': 'abhi', 'v2': 'aman'}

<h1/>set-----</h1>

In [3]:
f2={'v1','abhi','v2''aman''v1''abhi'}
print(type(f2))
print(f2)

<class 'set'>
{'abhi', 'v1', 'v2amanv1abhi'}

<h1/>frozen set -----------</h1>

In [9]:
 l= [10,20,30,40]
 t= (1,2,3,4,5,6,"python","java")
 s= "python"
fs1=frozenset (l)
fs2=frozenset (t)
fs3=frozenset (s)
print (fs1)
print(type(fs1))
print (fs2)
print(type(fs2))
print (fs3)
print(type(fs3))

frozenset({40, 10, 20, 30})
<class 'frozenset'>
frozenset({1, 2, 3, 4, 5, 6, 'python', 'java'})
<class 'frozenset'>
frozenset({'t', 'y', 'p', 'h', 'n', 'o'})
<class 'frozenset'>

# BOOLEAN---

In [11]:
x= True
print(x)
print(type(x))

True
<class 'bool'>

In [14]:
x= False
print(x)
print(type(x))

False
<class 'bool'>

# operator----

# 1)arthmetic-(+,-,*,/,%(modules),//(floor),**(power) or sat that exponantial)

In [16]:
x=20
y=30
z=x+y
print(type(z))
print(z)
z=x-y
print(z)
print(type(z))
z=x*y
print(z)
print(type(z))
z=x/y
print(z)
print(type(z))
z=x%y
print(z)
print(type(z))
z=x//y
print(z)
print(type(z))
z=x**y
print(z)
print(type(z))

<class 'int'>
50
-10
<class 'int'>
600
<class 'int'>
0.6666666666666666
<class 'float'>
20
<class 'int'>
0
<class 'int'>
1073741824000000000000000000000000000000
<class 'int'>

# indexing

In [4]:
s='abhi'
print(s.index('b'))

1

In [5]:
s=(1,2,3,4,5,6)
print(s.index(2))

1

In [8]:
s=[1,2,3,4,5,6,'python']
print(s.index('python'))

6

In [9]:
s=[1,2,3,4,5,6,'python']
print(s.index('ab'))

ValueError: 'ab' is not in list

In [10]:
s=[1,2,3,4,5,6,'python']
print(s.index('6'))

ValueError: '6' is not in list

In [11]:
 s=[1,2,3,4,5,6,'python']
print(s.index(6,5,7))

5

In [26]:
s='I LOVE PYTHON '

In [27]:
print(s.index('O',5,13))

11

In [29]:
 s=[1,2,3,4,5,6,'python']
print(s.index(-2))

ValueError: -2 is not in list

In [37]:
s='abhi'
print(s[-3])

b

In [15]:
def fun_name():
    print ("hello world")
fun_name()
print ("welcome")
fun_name()

hello world
welcome
hello world

In [17]:
def fun_name():
    print ("hello world")
print ("fun_name")
x=fun_name()
print(x)

fun_name
hello world
None

In [18]:
def fun_name():
    return'hello'
print ("fun_name")
x=fun_name()
print(x)

fun_name
hello

In [19]:
def fun_name():
    return'hello'
print ("fun_name")
x=fun_name()
print(x)
print (x*2)

fun_name
hello
hellohello

In [23]:
def add(x,y):
    z=x+y
    return z
a=int(input("value"))
b=int(input("value"))
addition=add(a,b)
print(addition)

value 1
value 2

3

In [36]:
def add(x,y):
    z=x+y
    return z
a=20
b=10
addition=add(y=a,x=b)
print (addition)

30

In [31]:
def even(n):
    if n/2==0:
        print("even")
        
    else:
        print("odd")

n=int(input("integer"))
even(n)

integer 1

odd

In [6]:
a=int(input("enter the no"))
b=int(input("enter the no"))
c=int(input("enter the no"))
if (a>=b) and (a>=c):
largest= a
elif(b>=a) and (b>=c):
largest = b
else:
    largest = c

print("The largest number is:", largest)

IndentationError: expected an indented block after 'if' statement on line 4 (3891401690.py, line 5)

# conditional statement question

<h3> Q1) write a program to find largest number among three numbers in python</h3>

In [8]:

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print("The largest number is:", largest)

Enter the first number:  1
Enter the second number:  3
Enter the third number:  4

The largest number is: 4

In [13]:

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

if (num1 > num2 >num3):
 print("The largest number is a")
elif (num2> num1>num3):
  print("The largest number is a")
else:
    largest = num3

print("The largest number is:", largest)

Enter the first number:  2
Enter the second number:  3
Enter the third number:  4

The largest number is: 4

In [12]:

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
largest = max(num1, num2, num3)

print("The largest number is:", largest)

Enter the first number:  2
Enter the second number:  3
Enter the third number:  4

The largest number is: 4

<h3>Q2) Write a program that takes an integer as input and prints "Positive" if the number is greater than 0, and "Negative or Zero" otherwise.</h3>

In [ ]:
    num1 = int(input("Enter an integer: "))
    if num > 0:
        print("Positive")
    else:
        print("Negative or Zero")

<h3>Write a program to fund withdrawal and to show case avaliable fund</h3>

In [54]:
acc_fund = float(input("Enter the AMOUNT at account: "))
withdrawal = float(input("Enter the withdrawal AMOUNT AT ACCOUNT: "))
if(withdrawal<=acc_fund):
   print("transaction done")
   av_balance=acc_fund-withdrawal
   print("available balace is",av_balance)
else:
   print("insufficient fund")

Enter the AMOUNT at account:  80000
Enter the withdrawal AMOUNT AT ACCOUNT:  40000

transaction done
available balace is 40000.0

In [7]:
##write a program that determine the price of movie ticketbased on age or membership status 
##if the person is under 12 the ticket is 5$
##if the person is 60 or above the ticket is 7$
##for age b/w 12 and 59  if they are the menbership ticket is 8$ or not a meber ticket is 10$


age = int (input("enter the age"))
membership = input("yes or no").lower()
if age <= 12:
    print("pay a 5$")
elif age>12 and age<59:
    if membership == "yes":
         print ("pay 8$")
    else :
        print("pay 10$")
else:
    if age<60:
        print ("pay 7$")

enter the age 49
yes or no YES

pay 8$

In [11]:
##WRITE A PROHRAM THE TAKE THE NO OF MONTH 1 TO 12 AND TEMPERATURE AS INPUT ACCORDING TO A MONTH PRINT THE SEASON WINTER ,SUMMER ,SPRING,autoum 
##FOR WINTER IF THE TEMPERATURE IS LESS 10DEGREE CELCIUS  PRINT FREEZING
##FOR SPRING OR SUMMER  IF THE TEMPERATURE IS GREATER 30DEGREE CELCIUS  PRINT HOT
##IF THE MONTH IS NOT BETWEEN 1 AND 12 PRINT INVALID

month=int(input("enter the no"))
temperature=int(input("enter the temp"))
if month >=1 and month <=3 :
    print("winter")
    if temperature <=10:
        print("freezing")
elif month >=4 and month <=6:
    print ("summer")
    if temperature >=30:
        print("hot")
elif month >=7 and month <=9:
    print ("spring")
    if temperature >=30:
        print("hot")
elif month >=10 and month <=12:
    print ("autoum")
else :
    print ("invalid no")

enter the no 5
enter the temp 30

summer
hot

In [ ]:
##write the progeam the calculate bmi using the person weight in kg and hight in metre 
## if the bmi is less then 18.5 print under weight further if the bmi is less than 15 also print seviorly underweight 
## if the bmi is b/w 18.5 to 25 print normal.
## if the bmi is above 25 print overweight or obus
## BMI = WEIGHT IN KG/ 9HEIGHT IN METER )**2

weight=float(input("enter the weight"))
height=float(input("enter the height"))
bmi = weight/(height)**2
if bmi <= 18.5:
    print("underweight",bmi)
    if bmi<=15:
        print("seviorly underweight")
elif 18.5 <bmi<25:
    print("normal")
elif bmi>=25:

    print("overweight")
else:
    print("invalid")

In [5]:
year =int(input("enter the year"))
if (year% 4 == 0 and year% 100 != 0) or (year% 400== 0):
    print("leap year")
else:
    print("not a leap year")

enter the year  2000

leap year

In [6]:
a=[10,20,30,40,50]
a[1]=45
print (a)

[10, 45, 30, 40, 50]

In [8]:
b='cybrom'
b[2]=''
print(b)

TypeError: 'str' object does not support item assignment

In [5]:
# string
#integer 
# float
#boolean


#built in datatype
#list 
# tuple
# set 
#dictionary

In [2]:
# list
# a=[10,20,30,40,50]
# # method of list
# a.append(68)
# a

[10, 20, 30, 40, 50, 68]

# loop

In [4]:
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [2]:
b=[1,2,3,4,5]
for i in b:
    print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [3]:
c=[1,2,3,4,5]
for i in c:
   # print(i)
    print(i,end=",")

1,2,3,4,5,

In [9]:

for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
for i in range(1,6):
    print(i,end=",")

1,2,3,4,5,

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(1,10,2):
    print(i,end=",")

1,3,5,7,9,

In [12]:
for i in range(10,4,-2):
    print(i,end=",")

10,8,6,

In [14]:
for i in range(10,-4,-2):
    print(i,end=",")

10,8,6,4,2,0,-2,

In [17]:
n=int(input("enter the no"))
for i in range (0,n+1):
    print(i)

enter the no 5

0
1
2
3
4
5

In [17]:
n=int(input("enter the no"))
for i in range (1,n+1):
    print(i,end=(","))

enter the no 15

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,

In [19]:
n=int(input("enter the no")) 
for i in range(0,n+1):
    if i%2==0:
        print(i,"even no")
    else:
        print(i,"odd no")

enter the no 20

0 even no
1 odd no
2 even no
3 odd no
4 even no
5 odd no
6 even no
7 odd no
8 even no
9 odd no
10 even no
11 odd no
12 even no
13 odd no
14 even no
15 odd no
16 even no
17 odd no
18 even no
19 odd no
20 even no

In [27]:
a=[1,2,3,4,5,6,7,8]
for i in a:
    if i%2==0:
        print("even",i)

even 2
even 4
even 6
even 8

In [37]:
a=[1,2,3,4,5,6,7,8]
sum=0
for i in a:
    if i%2==0:
        sum=i+sum
print(sum)

20

In [7]:
## write a program to print count of even by taking user input for nth value.
n= int(input( "enter the no"))
count=0
for i in range(1,n+1):
    if i%2==0:
       count=count+1
print(count)

enter the no 5

2

In [13]:
n= int(input( "enter the no"))
count=0
sum=0
for i in range(1,n+1):
    if i%2==0:
       count=count+1
    elif i%2==0:
            sum=i+sum
print(count)
print(sum)

enter the no 50

25
0

In [16]:
## write a program to print count of even and count of odd by taking user input for nth value.
n= int(input( "enter the no"))
count=0
counto=0
for i in range(1,n+1):
    if i%2==0:
       count=count+1
    else:
        counto=counto+1
        
print("even no:", count)
print("odd no:", counto)

enter the no 50001

even no: 25000
odd no: 25001

In [26]:
##write a program  to print the sum and count the even no and sum and count the  odd no .
n= int(input( "enter the no"))
count_of_even=0
count_of_odd=0
sum_of_even =0
sum_of_odd=0
for i in range(1,n+1):
    if i%2==0:
        sum_of_even =sum_of_even+i
        count_of_even=count_of_even+1
    else:
        count_of_odd=count_of_odd+1
        sum_of_odd=sum_of_odd+i
        
        
print("count_even_no:", count_of_even)
print("count_odd_no:", count_of_odd)  
print("sum_of_even:",sum_of_even)
print("sum_of_even:",sum_of_even)

enter the no 50

count_even_no: 25
count_odd_no: 25
sum_of_even: 650
sum_of_even: 650

In [30]:
##write a program to give the factorial of n no.
n=int(input("enter the no"))
factorial=1
for i in range (1,n+1):
    factorial = factorial*i
print(factorial)

enter the no 5

120

In [ ]:
## write a prograam fibonacci series
##prime no objective and conclusion

In [10]:
##write a program to fetch the no of vowel and no of consenent and no of special charcter
a= input("enter the string ")
digit=0
alpha =0
spe_cha=0
for i in a:
    if i.isdigit():
        digit=digit+1
        
    elif i.isalpha():
        alpha=alpha+1
    
    else:
        spe_cha= spe_cha+1
print("no of digit:",digit)
print("no of alpha:",alpha)
print("no of spec_cha:",spe_cha)

enter the string  5a@

no of digit: 1
no of alpha: 1
no of spec_cha: 1

In [13]:
s=int(input("enter the no"))
a=0
b=1
for i in range (2,s+1):
    c = a
    a = b
    b= c + b
    print(a)

enter the no 5

1
1
2
3

In [21]:
s=int(input("enter the no"))
a=0
b=1
print(a,b,end=" ")
for i in range (2,s+1):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

enter the no 22

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711

In [30]:
##write a program to check wheather the no is prime no or not.
a=int(input("enter the no"))
if a==0 or a==1:
    print("not a prime no")
elif a>=2:
    for i in range (2,a):
     if i%a==0:
        print("not a prime no")
else :
    print ("prime no")

enter the no 5

In [ ]:
# Python3 Program to count vowels,
# consonant, digits and special 
# character in a given string.

# Function to count number of vowels,
# consonant, digits and special 
# character in a string.
def countCharacterType(str):

    # Declare the variable vowels, 
    # consonant, digit and special
    # characters
    vowels = 0
    consonant = 0
    specialChar = 0
    digit = 0

    # str.length() function to count 
    # number of character in given string.
    for i in range(0, len(str)): 
        
        ch = str[i] 

        if ( (ch >= 'a' and ch <= 'z') or 
             (ch >= 'A' and ch <= 'Z') ): 

            # To handle upper case letters
            ch = ch.lower()

            if (ch == 'a' or ch == 'e' or ch == 'i' 
                        or ch == 'o' or ch == 'u'):
                vowels += 1
            else:
                consonant += 1
        
        elif (ch >= '0' and ch <= '9'):
            digit += 1
        else:
            specialChar += 1
    
    print("Vowels:", vowels)
    print("Consonant:", consonant) 
    print("Digit:", digit) 
    print("Special Character:", specialChar) 


# Driver function.
str = "geeks for geeks121"
countCharacterType(str) 

# This code is contributed by
# Smitha Dinesh Semwal